# config
config.py

# Oodle runtime
oo2core_*.dll

# Extracted game assets
/output/
/extracted/
*.dds
*.png
*.gltf
*.glb
*.obj
*.bnk
*.pck
*.wem
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal

# Python
__pycache__/
*.pyc
.venv/
venv/

# Documentation screenshots
!/docs/images/*.png